<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    var data_book = {};
    $("#searchClick").on("click", function(){
      var input = $("#myInput").val();
      
      $.ajax({url: "https://www.googleapis.com/books/v1/volumes?q=" + input, 
      async: true,
      success: function(result){
         
         var tbl_body = document.createElement("tbody");
         var tbl_row = tbl_body.insertRow();
         var tbl_cell = tbl_row.insertCell();
         tbl_cell.appendChild(document.createTextNode("Title"));
         var tbl_cell = tbl_row.insertCell();
         tbl_cell.appendChild(document.createTextNode("Author"));
         var tbl_cell = tbl_row.insertCell();
         tbl_cell.appendChild(document.createTextNode("Like"));
         $.each(result.items, function(k, v){
          var tbl_row = tbl_body.insertRow();
          var cell = tbl_row.insertCell();
          var too = document.createTextNode(v.volumeInfo.title);
          var too1 = document.createElement("p");
          too1.append(too);
          too1.setAttribute("class", k);
          cell.appendChild(too1);
          var cell = tbl_row.insertCell();
          cell.appendChild(document.createTextNode(v.volumeInfo.authors[0]));
          var cell = tbl_row.insertCell();
          data_book[v.volumeInfo.title] = 0; 
          var joo1 = document.createTextNode("0");
          cell.appendChild(joo1);
          cell.setAttribute("id", k);
          var cell = tbl_row.insertCell();
          var foo = document.createElement("BUTTON");
          foo.setAttribute("id", k);
          foo.setAttribute("class", "like")
          var boo = document.createTextNode("Like");    
          foo.appendChild(boo);
          cell.appendChild(foo);
         });
         $("#tableId").html(tbl_body);
      }});
    });
    $("#prospects_form").submit(function(e) {
    e.preventDefault();
    });
    $(document).on("click",".like", function(){
      var idLike = $(this).attr("id");
      // alert(idLike)
      var countLike = parseInt($("td#" + idLike).html());
      // alert(countLike)
      var bookTitle = $("p." + idLike ).html();
      data_book[bookTitle] += 1;
      // alert(data_book[bookTitle]);
      countLike += 1;
      // alert(countLike)
      $("td#" + idLike).html(countLike);
      tes = {"aku": "saya"}
      // console.log(tes);
      // console.log(data_book["Quiet"]);
      // data_book
      TableData = JSON.stringify(data_book);
      // console.log(data_book[bookTitle]);
      // alert(TableData);
      console.log(TableData);
      $.ajax({
          type: "POST",
          url: "/storage/",
          dataType: 'json',
          data: TableData,
          success: function(msg){
              console.log(msg);
          }
      });
      // alert(countLike)
      // var theLike = $("#" + idLike + " " + "td");
      // alert(theLike.text());
      // TheLike = TheLike + 1;
      // $("#" + idLike).attr
    });
  });
  </script>

<form method="GET" id="prospects_form">
  {% csrf_token %}
  <input type="text" id="myInput"  
  placeholder="Book title" name="tes" />
  <input type="submit" name="apaya" id="searchClick" class="TES" />
  </form>
  <table id="tableId" >
    <tr>
      <td>Title</td>
      <td>Author</td>
      <td>Like</td>
    </tr>
    <tr >
      
    </tr>
  </table>
  <!-- <script>  
            var pageExecute = {

      fileContents:"Null",
      pagePrefix:"Null",
      slides:"Null",

      init: function () {
          $.ajax({
              url: "tes.txt",
              async: false,
              success: function (data){
                  pageExecute.fileContents = data;
              }
          });
      }
      };
    </script> -->
    
    
  <!-- *************************************** -->
  <!-- *************************************** -->
  <!-- *************************************** -->
  <!-- *************************************** -->
  <!-- *************************************** -->
   <!-- <div id="demo">
        <h1>The XMLHttpRequest Object</h1>
        <input type="text" onkeyup="loadDoc()" />
        <label>Change Content</label>
        <p>Change Content</p>
        <input type="submit"  onclick="loadDoc()"/>
        </div> -->
        
        <!-- <script>
        function loadDoc() {
          var xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
              document.getElementById("demo").innerHTML =
              this.responseText;
            }
          };
          xhttp.open("GET", "https://www.googleapis.com/books/v1/volumes?q=t", true);
          xhttp.send();
        }
        </script> -->





  <!-- trash:
title="Type in a name"
onkeyup="myFunction()" -->

<!-- trash
   var input, filter, ul, li, a, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      ul = document.getElementById("myUL");
      li = ul.getElementsByTagName("li");
      for (i = 0; i < li.length; i++) {
          a = li[i].getElementsByTagName("a")[0];
          txtValue = a.textContent || a.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
              li[i].style.display = "";
          } else {
              li[i].style.display = "none";
          }
      } -->